.templates-page {
    background-color: #FAF5EF;
    color: black;
    padding: 2%;
    height: 100vh;
    margin: 0% 0 5%;
    /* overflow:hidden; */
}

.title {
    display: block;
    color: black;
    text-align: center;
    font-size: 3em;
    margin: 2vh;
}

.template-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    /* padding: 5vw; */
}

.pdf-item {
    margin: 0.5vw;
    /* width: 25%; */
    /* margin: 2vw; */
}