.sidebar-container{
    display:flex;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sidebar {
    background: #564BD1;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
    min-height: 100vh;
    max-width: 200px;
}

main {
    width: 100%;
}

.top-section, .home-link{
    display: flex;
    align-items: center;
    padding: 20px 15px;
    color: white;
    transition: all 0.5s;
    text-decoration: none;
}

.sidenav-icon {
    width: 30px;
}

.sidenav-link {
    display: flex;
    padding: 20px 20px;
    gap: 15px;
    color: white;
    transition: all 0.5s;
    text-decoration: none;
}

.sidenav-link:hover, .active {
    background: #736bc4;
    transition: all 0.5s;
}

