.Login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.button2 {
  font-family: "Montserrat", sans-serif;
  background-color: #564BD1;
  color: white;
  padding: 3%;
  font-style: normal;
  font-weight: lighter;
  font-size: 12px;
  line-height: 15px;
}

.button2:hover {
  font-family: "Montserrat", sans-serif;
  background-color: #736bc4;
}

.title2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
  color:  #564BD1;
  margin-bottom: 6%;
}

.paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: white;
}

.logRout2 {
  width: 293px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 13px;
  line-height: 22px;

  text-align: center;
  color: #564BD1;
  text-decoration: none;
}
.logRout_b2 {
  width: 293px;
  height: 22px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 13px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: #564BD1;
  text-decoration: none;
}
.logRout_b2:hover {
  color: #736bc4;
}
