.buttonsBottom{
    display: flex;
    justify-content: space-between;
    margin: 40% 10% 5%;
}

.previous, .next{
    background-color: #D9D9D9;
    color: black;
    padding: 1% 4%;
    border-radius: 5px;
}

.stack{
    margin: 15% 10%;
}

.selectTags{
    text-align: center;
}