
.stack{
    margin: 15% 10%;
}

.buttonsBottom{
    display: flex;
    justify-content: space-between;
    margin: 40% 10% 5%;
}

.buttonsTop{
    display: flex;
    justify-content: space-evenly;
}

.public{
    background-color: #FF7171;
    color: black;
    padding: 1% 4%;
    border-radius: 5px;
}


.public:hover{
    background-color: #fc9e9e;
}
.private, .previous, .next{
    background-color: #D9D9D9;
    color: black;
    padding: 1% 4%;
    border-radius: 5px;
}
.private:hover{
    background-color: #ffffff;
}
