* {
    text-decoration: none;
}

.header {
    text-align: center;
}

#upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

.upload-grid {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
    gap: 20px;
    flex: 0 0 300px;
}

.upload:hover {
    opacity: .8;
}

.upload-button {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: #736bc4;
    text-align: center;
    font-size: 10pt;
    overflow: hidden;
}

.upload {
    color: white;
}

#upload-icon {
    width: 20px;
    height: 20px;
    color: white;
}