.about-me-page {
    background-color: #FAF5EF;
    padding: 2% 10%;
    /* justify-content: center; */
    /* align-items: center; */
}

.user-name {
    text-align: center;
    font-size: 3em;
    margin: auto;
}

.section {
    display: block;
    color: #FAF5EF;
    background-color: #564BD1;
    padding: 2%;
    border: 2px solid #ff000000;
    border-radius: 10px;
    /* width: 50%; */
}

.section-header {
    font-size: 1em;
    margin: 2% 0% 1%;
}

.resume-icon {
    display: block;
    margin: 0% 2%;
    width: 10%;
    /* height: 10%; */
}

.review-list {
    list-style-type: none;
    padding-left: 0;
    /* word-wrap: break-word; */
}

.review-rating {
    /* text-align: center; */
}

.review-item {
    background-color: #5147c5;
    color: #FAF5EF;
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-all;
    padding: 2%;
    margin: 2% 0;
}

.upload-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 0 0 300px;
    overflow: hidden;
    margin-top: -5px;
    padding-bottom: 40px;
}