#reviewContainer {
    overflow: hidden;
}

.header {
    text-align: center;
    margin-top: 5%;
}

#search-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#search-container input {
    height: 40px;
    width: 50vw;
    border-radius: 5px;
    font-size: 16pt;
    padding-left: 10px;
}

#search-container button {
    border-radius: 5px;
    background-color: #564BD1;
    color: white;
    margin-left: 1%;
}

.pdf-card-grid {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    flex: 0 0 300px;
    margin-bottom: 15%;
}

.pdf-card {
    text-decoration: none;
    padding: 10px;
    margin-top: 3%;
    
    /* margin: 0 auto; */
    border: 1px solid #efefef;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
    width: 300px;
    height: 100%;
    background-color: #736bc4;
    color: white;
    overflow: hidden;
    
}
.link{
    text-decoration: none;
}
.pdf-card:hover {
    opacity: .8;
}
.pdf{
    height: 57%;
    border-radius: 5px;
    
}