.topBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FAF5EF;
    background-color: #564BD1;
}

.section-header {
    font-size: 3em;
}

.first-section {
    padding: 5%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    align-items: center;
    /* align-content: center; */
}

.grid-item {
    margin: 0% 5%;
}

.vertical-container {
    float: left;
    position: relative;
    margin: 1%;
    height: 80vh;
    width: 10vw;
    left: 40%;
    /* max-width: 50px; */
}

.staggered-container {
    top: 20vh;
}

.vertical-container img,
.cover-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.second-section {
    /* width: 100%; */
    padding: 5%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    background-color: #564BD1;
    color: #FAF5EF;
}

ol {
    font-size: 2em;
    line-height: 2em;
}

.links {
    font-size: 2em; 
    color: #FAF5EF;
}

.button-link {
    text-decoration: none;
}