.resume-view-page {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 0% 1vw;
    background-color: #FAF5EF;
    color: #FAF5EF;
    height: 100vh;
    /* overflow-y: hidden; */
}

.pdf-frame {
    background-color: #FAF5EF;
    margin: 1vw 0 1vw 0;
}

.side-bar {
    background: #564BD1;
    min-height: 100vh;
    width: 180px;
    color: #FAF5EF;
}

.sub-section-title {
    display: block;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

.nav-button {
    height: 4vw;
    font-size: 1em;
}

.tag-group {
    padding: 1vw;
    color: #FAF5EF;
}

.tag-search {
    margin: 1vw 0;
    color: #FAF5EF;
}

#right-sidebar {
    padding: 1vw;
}

.rating {
    margin: 0.5vw 0;
}

.text-box {

}

.review-list {
    list-style-type: none;
    padding-left: 0;
    /* word-wrap: break-word; */
}

.review-rating {
    /* text-align: center; */
}

.review-item {
    background-color: #5147c5;
    color: #FAF5EF;
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-all;
    padding: 2%;
    margin: 2% 0;
}